<router-outlet> </router-outlet>
<div class="container mt-2">
  <form [formGroup]="formGroup" (ngSubmit)="login()">
    <div>
      <input type="text" name="usuario" formControlName="usuario" />
      <div class="altura-error">
        @if(formGroup.controls['usuario'].errors !== null &&
        formGroup.controls["usuario"].touched) {
        @if(formGroup.controls["usuario"].errors!["required"]){
        <p class="text-danger altura-error">El campo es requerido</p>
        } @if(formGroup.controls["usuario"].errors!["maxlength"]){
        <p class="text-danger altura-error vh-25">
          El campo es demasiado largo (máximo
          {{
            formGroup.controls["usuario"].errors!["maxlength"].requiredLength
          }})
        </p>
        } }
      </div>
    </div>
    <div>
      <input type="password" name="clave" formControlName="clave" />
      <div class="altura-error">
        @if(formGroup.controls['clave'].errors !== null &&
        formGroup.controls["clave"].touched ){
        @if(formGroup.controls["clave"].errors!["required"]){
        <p class="text-danger altura-error">El campo es requerido</p>
        } @if(formGroup.controls["clave"].errors!["minlength"]){
        <p class="text-danger altura-error vh-25">
          El campo es demasiado corto
        </p>
        } @if(formGroup.controls["clave"].errors!["espacios"]){
        <p class="text-danger altura-error vh-25">
          Hay un espacio en el caracter:
          {{ formGroup.controls["clave"].errors!["espacios"].posicion }}
        </p>
        } }
      </div>
    </div>

    <button type="submit" class="btn btn-success">Login</button>
  </form>
</div>
